{% extends "format.html" %}

{% block content %}

<div class="container mt-5 pt-5">
    <div class="d-grid gap-2 pb-4">
        <button type="button" class="btn btn-outline-success btn-tomar-asistencia" data-bs-toggle="modal"
            data-bs-target="#crearCursoModal">
            Crear Curso
        </button>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nombre del Curso" aria-label="Search"
            aria-describedby="search-button">
        <div class="btn-group mr-2 ml-2" role="group">
            <select class="form-select mr-2 ml-2 " aria-label="Default select example">
                <option value="" selected>Todos</option>
                <option value="2023-1">2023-1S</option>
                <option value="2">2023-1S</option>
                <option value="3">2023-1S</option>
            </select>
        </div>

        <div class="input-group-append">
            <button class="btn btn-outline-success" type="button" id="search-button">Buscar Curso</button>
        </div>
    </div>
    <div class="row">
        {% if error %}

        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <i class="bi bi-exclamation-diamond me-2"></i>
            <div>
                {{error}}
            </div>
        </div>
        {% endif %}
        {% if exito %}
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <i class="bi bi-check-circle me-2"></i>
            <div>
                {{exito}}
            </div>
        </div>
        {% endif %}
        {% if cursos %}
        {% for curso in cursos %}
        <div class="col-md-6">
            <div class="card mb-4">
                <form method="POST">
                    {% csrf_token %}
                    <div class="card-body">
                        <h5 class="card-title mb-4" title="{{curso.0.nombre_curso}}">
                            {{curso.0.nombre_curso}}</h5>
                        <div class="row">
                            <div class="col-6">
                                <p class="card-text">
                                    Código: {{curso.0.id_curso}}<br>
                                    Cantidad Estudiantes: {{curso.2}} <br>
                                    Cantidad Grupos: {{curso.3}} <br>
                                    Semestre: {{curso.0.anio_curso}}-{{curso.0.semestre_curso}} <br>
                                </p>
                            </div>
                            <div class="col-6">
                                <select class="form-select" aria-label="multiple select example" multiple name="grupo">
                                    <option selected value="todos">Seleccione un Grupo</option>
                                    {% for grupo in curso.1 %}
                                    <option value="{{ grupo.id_grupo }}">Grupo {{ grupo.nombre_grupo }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-success"
                            name="info_{{ curso.0.id_curso }}">Información del Curso</button>
                        <button type="button" class="btn btn-outline-success float-end" data-bs-toggle="modal"
                            name="crearGrupo_{{ curso.0.id_curso }}"
                            data-bs-target="#crearGrupo_{{ curso.0.id_curso }}">Crear Grupo</button>
                    </div>
                </form>

                <div class="modal fade" id="crearGrupo_{{ curso.0.id_curso }}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Crear Curso</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <input type="hidden" class="form-control" id="codigoCurso" name="codigoCurso"
                                        value="{{ curso.0.id_curso }}" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <div class="form-group">
                                        <label for="curso">Nombre Curso</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="nombreCurso" name="nombreCurso"
                                                value="{{ curso.0.nombre_curso }}" aria-label="Recipient's username"
                                                aria-describedby="basic-addon2" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="grupo">Número del Grupo</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">Grupo</span>
                                            <input type="text" class="form-control" id="grupo" name="numero_grupo"
                                                placeholder="Ingrese el número del grupo">
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="mb-3">
                                            <label for="formFile" class="form-label">Lista de Estudiantes</label>
                                            <input class="form-control" type="file" id="archivo" name="listaEstudiantes"
                                                accept=".xls, .xlsx">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" name="crearGrupo" class="btn btn-success">Crear Grupo</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="crearCursoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Crear Curso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nombreCurso">Nombre del Curso</label>
                        <input type="text" class="form-control" id="nombreCurso"
                            placeholder="Ingrese el nombre del curso" name="nombre_curso">
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="grupo">Grupo</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Grupo</span>
                                <input type="text" class="form-control" id="grupo" name="grupo_curso"
                                    placeholder="Ingrese el número del grupo">
                            </div>
                        </div>
                        <div class="form-group col-3">
                            <label for="anio">Año</label>
                            <input type="text" class="form-control" id="anio" name="anio_curso"
                                placeholder="Ingrese el año">
                        </div>
                        <div class="form-group col-3">
                            <label for="semestre">Semestre</label>
                            <div class="form-control">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="semestre_curso" id="inlineRadio1"
                                        checked value="1S">
                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="semestre_curso" id="inlineRadio2"
                                        value="2S">
                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Lista de Estudiantes</label>
                            <input class="form-control" type="file" id="archivo" name="listaEstudiantes_curso"
                                accept=".xls, .xlsx">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" name="crearCurso" class="btn btn-primary">Guardar</button>
                </div>
            </form>


        </div>
    </div>
</div>

{% endblock %}