{% extends "format.html" %}

{% block content %}
<div class="container mt-5 mb-5 pt-5">

  <div class="row">
    <div class="col-3">
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="#list-item-1">Datos Personales</a>
        <a class="list-group-item list-group-item-action" href="#list-item-2">información de Cursos</a>
      </div>
    </div>
    <div class="col-9">
      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0"
        class="scrollspy-example scrollspy-perfil" tabindex="0">
        <div id="list-item-1">
          <h4>Datos Personales</h4>
          <p>En este espacio econtrará la información de su perfil, la cual podrá editar en cualquier momento.</p>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Rol</span>
            <input type="text" class="form-control" value="Profesor" aria-label="Recipient's username"
              aria-describedby="basic-addon2" disabled>
            <button class="btn btn-outline-success"><i class="bi bi-pencil-square"></i> Editar</button>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Nombres</span>
            <input type="text" class="form-control" value="Nombres" aria-label="Recipient's username"
              aria-describedby="basic-addon2" disabled>
            <button class="btn btn-outline-success"><i class="bi bi-pencil-square"></i> Editar</button>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Apellidos</span>
            <input type="text" class="form-control" value="Apellidos" aria-label="Recipient's username"
              aria-describedby="basic-addon2" disabled>
            <button class="btn btn-outline-success"><i class="bi bi-pencil-square"></i> Editar</button>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Documento de Identidad</span>
            <input type="text" class="form-control" value="100123020" aria-label="Recipient's username"
              aria-describedby="basic-addon2" disabled>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Correo</span>
            <input type="text" class="form-control" value="ejemplo@unal.edu.co" aria-label="Recipient's username"
              aria-describedby="basic-addon2" disabled>
            <span class="input-group-text" id="basic-addon2">@unal.edu.co</span>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Contraseña</span>
            <input type="password" class="form-control" value="contraseñadeejemplo" aria-label="Recipient's username"
              aria-describedby="basic-addon2" disabled>
            <button class="btn btn-outline-success"><i class="bi bi-pencil-square"></i> Editar</button>
          </div>
        </div>
        <div id="list-item-2">
        <h4 class="mt-5">Información de Cursos</h4>
        <p>Información de Asistencia</p>
        <div class="btn-group" role="group">
          <div class="input-group mb-3">
            <label class="input-group-text pl-5 pr-5" for="inputGroupSelect01">Seleccione el Año y Semestre</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Todos</option>
              <option value="1">2024-1</option>
              <option value="2">2023-2</option>
              <option value="3">2023-1</option>
            </select>
          </div>
        </div>
        <div class="graph">
          {{ graph|safe }}
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Curso</th>
              <th class="text-center">Asistencias Totales</th>
              <th class="text-center">Porcentaje de Asistencia</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Nombres Ejemplo del Curso: grupo 1</td>
              <td class="text-center">10</td>
              <td class="text-center">80%</td>
            </tr>
            <tr>
              <td>Nombres Ejemplo del Curso: grupo 1</td>
              <td class="text-center">10</td>
              <td class="text-center">80%</td>
            </tr>

            <!-- Agrega más filas según sea necesario -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</div>


{% endblock %}