{% extends "format.html" %}

{% block content %}

{% load static %}

<div class="container mt-5 mb-5 pt-5">

    <h1 class="pb-4">{{grupo.curso_grupo.nombre_curso}} - Grupo {{grupo.nombre_grupo}}</h1>
    <div class="card-qr-asistencia">
        <div class="card">
            <div class="card-body text-center">
                <p class="card-title"><small>QR Asistencia</small></p>
            </div>
            <img src="{% static 'img/qrejemplo.png' %}" class="card-img-bottom imagen-qr-asistencia" alt="...">
        </div>
    </div>
    <h2 class="m-4">Lista de Asistencia: {{fecha}}</h2>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    Estudiantes Presentes
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <div class="input-group mb-4">
                        <input type="text" class="form-control" aria-label="Search"
                            placeholder="Documento del Estudiante" aria-describedby="search-button">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="button" id="search-button">Buscar
                                Asistencia</button>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre Completo</th>
                                <th>Documento</th>
                                <th>Correo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if estudiantes_activos %}
                            {% for estudiante in estudiantes_activos %}
                            <tr>
                                <td>{{estudiante.nombres_estudiante}} {{estudiante.apellidos_estudiante}}</td>
                                <td>{{estudiante.documento_estudiante}}</td>
                                <td>{{estudiante.user.email}}</td>
                                <td class="text-center"><i class="bi bi-info-square-fill" style="cursor: pointer;"></i>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            <!-- Agrega más filas según sea necesario -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                    Estudiantes Ausentes
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <div class="input-group mb-4">
                        <input type="text" class="form-control" aria-label="Search"
                            placeholder="Documento del Estudiante" aria-describedby="search-button">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="button" id="search-button">Buscar
                                Asistencia</button>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre Completo</th>
                                <th>Documento</th>
                                <th>Correo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if estudiantes_inactivos %}
                            {% for estudiante in estudiantes_inactivos %}
                            <tr>
                                <td>{{estudiante.nombres_estudiante}} {{estudiante.apellidos_estudiante}}</td>
                                <td>{{estudiante.documento_estudiante}}</td>
                                <td>{{estudiante.user.email}}</td>
                                <td class="text-center"><i class="bi bi-info-square-fill" style="cursor: pointer;"></i>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            <!-- Agrega más filas según sea necesario -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</div>


<!-- Modal Actualizar Estudiantes-->
<div class="modal fade" id="actualizarEstudiantes" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Actualizar Listado de Estudiantes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Lista Actualizada de Estudiantes</label>
                            <input class="form-control" type="file" id="archivo" accept=".xls, .xlsx">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Actualizar</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}