{% extends "profesores/format.html" %}

{% block content %}

<div class="container mt-5 pt-5">
    <div class="d-grid gap-2 pb-4">
        <button type="button" class="btn btn-outline-success btn-tomar-asistencia" data-bs-toggle="modal"
            data-bs-target="#crearCursoModal" id="crear-curso-btn-modal">
            Crear Curso
        </button>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text">Curso</span>
            <input type="text" id="crear-curso-input" class="form-control" placeholder="Nombre del Curso" aria-label="Search"
                aria-describedby="search-button" name="nombre_curso">
            <div class="btn-group mr-2 ml-2" role="group">
                <select class="form-select mr-2 ml-2" aria-label="Default select example" name="semestre">
                    <option selected disabled value="">Todos</option>
                    {% for semestre in semestres %}
                    <option value="{{semestre.anio_curso}}-{{semestre.semestre_curso}}">
                        {{semestre.anio_curso}}-{{semestre.semestre_curso}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-group-append">
                <button class="btn btn-outline-success" type="submit" id="search-button" name="buscar_cursos">Buscar
                    Curso</button>
            </div>
        </div>
    </form>
    <div class="row">
        {% if error %}

        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <i class="bi bi-exclamation-diamond me-2"></i>
            <div>
                {{error}}
            </div>
        </div>
        {% endif %}
        {% if exito %}
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <i class="bi bi-check-circle me-2"></i>
            <div>
                {{exito}}
            </div>
        </div>
        {% endif %}
        {% if cursos %}
        {% for curso in cursos %}
        <div class="col-md-6">
            <div class="card mb-4">
                <form method="POST">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="dropdown">
                            <div class="btn-sm float-end">
                                <a class="btn btn-success btn-sm" href="#" role="button" id="dropdownMenuLink"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pen" viewBox="0 0 16 16">
                                        <path
                                            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z">
                                        </path>
                                    </svg>
                                </a>

                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-success" href="#" data-bs-toggle="modal"
                                            data-bs-target="#editar_curso_{{curso.0.id_curso}}">
                                            Editar
                                        </a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-danger" href="#" data-bs-toggle="modal"
                                            data-bs-target="#eliminar_curso_{{curso.0.id_curso}}">
                                            Eliminar
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <h5 class="card-title mb-4" title="{{curso.0.nombre_curso}}">
                            {{curso.0.nombre_curso}}</h5>
                        <div class="row">
                            <div class="col-6">
                                <p class="card-text">
                                    Código: {{curso.0.id_curso}}<br>
                                    Cantidad Estudiantes: {{curso.2}} <br>
                                    Cantidad Grupos: {{curso.3}} <br>
                                    Semestre: {{curso.0.anio_curso}}-{{curso.0.semestre_curso}} <br>
                                </p>
                            </div>
                            <div class="col-6">
                                <select class="form-select" aria-label="multiple select example" multiple name="grupo">
                                    <option selected value="todos">Seleccione un Grupo</option>
                                    {% for grupo in curso.1 %}
                                    <option value="{{ grupo.id_grupo }}">Grupo {{ grupo.nombre_grupo }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-success"
                            name="info_{{ curso.0.id_curso }}">Información del Curso</button>
                        <button type="button" class="btn btn-outline-success float-end crear-grupo" data-bs-toggle="modal"
                            name="crearGrupo_{{ curso.0.id_curso }}"
                            data-bs-target="#crearGrupo_{{ curso.0.id_curso }}">Crear Grupo</button>
                    </div>
                </form>

                <div class="modal fade" id="editar_curso_{{curso.0.id_curso}}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Editar Curso</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form method="POST" enctype="multipart/form-data" class="row g-3 needs-validation"
                                novalidate>
                                {% csrf_token %}
                                <div class="modal-body">
                                    <input type="hidden" class="form-control" id="codigoCurso" name="codigoCurso"
                                        value="{{ curso.0.id_curso }}" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2" required>
                                    <div class="form-group">
                                        <label for="nombreCurso">Nombre del Curso</label>
                                        <input type="text" class="form-control" id="nombreCurso_editado"
                                            value="{{curso.0.nombre_curso}}" placeholder="Ingrese el nombre del curso"
                                            name="nombre_curso" required>
                                        <div class="invalid-feedback">Por favor ingrese el nombre del curso</div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6">
                                            <label for="anio">Año</label>
                                            <input type="text" class="form-control" id="anio_editado" name="anio_curso"
                                                value="{{curso.0.anio_curso}}" placeholder="Ingrese el año"
                                                pattern="[0-9]{4}" required>
                                            <div class="invalid-feedback">Por favor ingrese el año</div>
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="semestre">Semestre</label>
                                            <div class="form-control">
                                                <div class="form-check form-check-inline">
                                                    {%if curso.0.semestre_curso == '1S' %}
                                                    <input class="form-check-input" type="radio" id="semestre_curso_editar" name="semestre_curso"
                                                        id="inlineRadio1" checked value="1S" required>
                                                    {% else %}
                                                    <input class="form-check-input" type="radio" id="semestre_curso_editar" name="semestre_curso"
                                                        id="inlineRadio1" value="1S" required>
                                                    {% endif %}
                                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    {%if curso.0.semestre_curso == '2S' %}
                                                    <input class="form-check-input" type="radio" id="semestre_curso_editar" name="semestre_curso"
                                                        id="inlineRadio1" checked value="2S" required>
                                                    {% else %}
                                                    <input class="form-check-input" type="radio" id="semestre_curso_editar" name="semestre_curso"
                                                        id="inlineRadio1" value="2S" required>
                                                    {% endif %}
                                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" name="editar_curso_{{curso.0.id_curso}}"
                                        class="btn btn-success">Actualizar Curso</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="eliminar_curso_{{curso.0.id_curso}}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="exampleModalLabel">Eliminar Curso</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Al eliminar el curso {{curso.0.nombre_curso}}, se eliminarán todos los grupos y
                                estudiantes asociados a este curso.
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-danger"
                                        name="eliminar_curso_{{curso.0.id_curso}}">Eliminar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="crearGrupo_{{ curso.0.id_curso }}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Crear Grupo</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form method="POST" enctype="multipart/form-data" class="row g-3 needs-validation"
                                novalidate>
                                {% csrf_token %}
                                <div class="modal-body">
                                    <input type="hidden" class="form-control" id="codigoCurso" name="codigoCurso"
                                        value="{{ curso.0.id_curso }}" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2" required>
                                    <div class="form-group">
                                        <label for="curso">Nombre Curso</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" name="nombreCurso"
                                                value="{{ curso.0.nombre_curso }}" aria-label="readonly input example"
                                                readonly>

                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="grupo">Número del Grupo</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">Grupo</span>
                                            <input type="text" class="form-control" id="numero_grupo_nuevo" name="numero_grupo"
                                                placeholder="Ingrese el número del grupo" required>
                                            <div class="invalid-feedback">Por favor ingrese el número del grupo</div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="mb-3">
                                            <label for="formFile" class="form-label">Lista de Estudiantes (Formato
                                                SIA)</label>
                                            <input class="form-control" type="file" id="archivo_nuevo_grupo" name="listaEstudiantes"
                                                accept=".xls, .xlsx" required>
                                            <div class="invalid-feedback">Por favor ingrese la lista de estudiantes con
                                                el formato del SIA</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" name="crearGrupo" id="crear_nuevo_grupo" class="btn btn-success">Crear Grupo</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="crearCursoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" >Crear Curso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nombreCurso">Nombre del Curso</label>
                        <input type="text" class="form-control" id="nombreCurso"
                            placeholder="Ingrese el nombre del curso" name="nombre_curso" required>
                        <div class="invalid-feedback">Por favor ingrese el nombre del curso</div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="grupo">Grupo</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">Grupo</span>
                                <input type="text" class="form-control" id="grupo_curso" name="grupo_curso"
                                    placeholder="Ingrese el número del grupo" required>
                                <div class="invalid-feedback">Por favor ingrese el número del grupo</div>
                            </div>
                        </div>
                        <div class="form-group col-3">
                            <label for="anio">Año</label>
                            <input type="text" class="form-control" id="anio" name="anio_curso"
                                placeholder="Ingrese el año" pattern="[0-9]{4}" required>
                            <div class="invalid-feedback">Por favor ingrese el año</div>
                        </div>
                        <div class="form-group col-3">
                            <label for="semestre">Semestre</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="semestre_curso" id="semestre_curso"
                                    checked value="1S" required>
                                <label class="form-check-label" for="inlineRadio1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="semestre_curso" id="semestre_curso"
                                    value="2S" required>
                                <label class="form-check-label" for="inlineRadio2">2</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Lista de Estudiantes (Formato SIA)</label>
                            <input class="form-control" type="file" id="archivo" name="listaEstudiantes_curso"
                                accept=".xls, .xlsx" required>
                            <div class="invalid-feedback">Por favor ingrese la lista de estudiantes con el formato del
                                SIA</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" id="crearCursoBTN" name="crearCurso" class="btn btn-success">Guardar</button>
                </div>
            </form>


        </div>
    </div>
</div>

{% endblock %}