{% extends "profesores/format.html" %}

{% block content %}


<div class="container mt-5 pt-5">
    <button type="button" class="btn btn-secondary btn-mostrar-grafica" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        Gr&aacute;fica
    </button>

    <h1 class="pb-4">{{grupo.curso_grupo.nombre_curso}} - Grupo {{grupo.nombre_grupo}}</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="row pb-4 d-flex justify-content-center">

            <button type="button" class="col-3 mr-4 btn btn-outline-success btn-tomar-asistencia" data-bs-toggle="modal"
                data-bs-target="#crearFormularioAsistenciaModal">
                Crear Formulario de Asistencia
            </button>
            <button class="col-3 mr-4 ml-4 btn btn-outline-success btn-tomar-asistencia" type="submit"
                name="VerEstudiantes">Ver Estudiantes</button>
            <button type="button" class="col-3 ml-4 btn btn-outline-success btn-tomar-asistencia" data-bs-toggle="modal"
                data-bs-target="#editarCursoModal">
                Editar Grupo
            </button>
        </div>
    </form>
    <form method="POST">
        {% csrf_token %}
    <div class="input-group mb-3">
        <input type="date" class="form-control" aria-label="Search" aria-describedby="search-button" name="fecha_asistencia">
        <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit" name="buscar_asistencia" id="search-button">Buscar Asistencia</button>
        </div>
    </form>
    </div>
    <div class="row">
        {% if asistencias%}
        {% for asistencia in asistencias %}
        <div class="col-md-4">
            <form method="POST">
                {% csrf_token %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Asistencia - {{ asistencia.0.fecha_asistencia|date:"d/m/Y" }}</h5>
                        <p class="card-text">
                            Cantidad Inasistencias: {{ asistencia.1 }} <br>
                            Porcentaje de Asistencia: {{ asistencia.2 }}%
                        </p>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-success" name="info_{{asistencia.0.id_asistencia}}">Información de la Asistencia</button>
                    </div>
                </div>
            </form>
        </div>
        {% endfor %}
        {% endif %}

    </div>
</div>


<!-- Modal Mostrar Grafico -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar Curso -->
<div class="modal fade" id="editarCursoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editar Curso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" class="row g-3 needs-validation" novalidate>
                {% csrf_token %}
            <div class="modal-body">
                    <div class="form-group">
                        <label for="nombreCurso">Nombre del Curso</label>
                        <input type="text" class="form-control" id="nombreCurso" value="{{grupo.curso_grupo.nombre_curso}}" disabled>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="grupo">Número del Grupo</label>
                            <input type="text" class="form-control" id="grupo" name="nuevo_nombre_grupo" value="{{grupo.nombre_grupo}}" required>
                            <div class="invalid-feedback">Ingrese el nuevo número del grupo</div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" name="actualizar_grupo">Actualizar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-danger" name="eliminar_grupo" data-bs-dismiss="modal" onclick="return confirm('¿Estás seguro de que deseas eliminar el grupo?')">Eliminar Grupo</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Crear Asistencia -->
<div class="modal fade" id="crearFormularioAsistenciaModal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Crear Formulario de Asistencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="fecha">Fecha de Asistencia</label>
                        <input type="date" class="form-control" id="fecha" name="fecha" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success" name="crearAsistencia">Crear Formulario</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}