.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-mostrar-grafica{
    position: absolute;
    right: 1%;
}

.btn-tomar-asistencia{
    background-color: rgb(238, 255, 237);
}